setuptools>=65.5.0
wheel

Flask
opencv-python
numpy
deepface
pymongo
scipy
gridfs
blinker
click
colorama
dlib
dnspython
dotenv
face-recognition
face-recognition-models
Flask
flask-cors
itsdangerous
Jinja2
MarkupSafe

opencv-python
pillow
pymongo
python-dotenv
Werkzeug
gunicorn

